<%- include("partials/header") %>

<main>
  <h1><%= title %></h1>

  <p>Hi! I’m Brynlee Bingham. I’m a Software Engineering student at BYU–Idaho and I’m learning backend development with Node and Express.</p>

  <h2>Hobbies & Interests</h2>
  <ul>
    <li>Building web apps</li>
    <li>Design + branding projects</li>
    <li>Learning new programming skills</li>
  </ul>

  <img src="/images/me.jpg" alt="Photo of Brynlee" width="250" />
</main>

<%- include("partials/footer") %>
